@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 1rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 217.2 91.2% 59.8%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 224.3 76.3% 48%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        overflow-x: hidden;
    }
}

html,
body {
    background-color: rgb(17 24 39);
    scroll-behavior: smooth;
    height: 100%;
    color: #fff;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.prose > * {
    color: white !important;
}

.cm-editor {
    max-height: calc(100vh - 80px - 10rem);
    height: calc(100vh - 80px - 27rem);
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

/* Dark Theme Background */
pre,
code {
    background-color: #282c34 !important; /* Dark gray background */
    color: #abb2bf !important; /* Default text color - light gray */
}

/* String - Green */
pre .str,
code .str {
    color: #98c379 !important;
}

/* Keyword - Red */
pre .kwd,
code .kwd {
    color: #e06c75 !important;
}

/* Comment - Gray */
pre .com,
code .com {
    color: #abb2bf !important;
    font-style: italic !important;
}

/* Type - Blue */
pre .typ,
code .typ {
    color: #61afef !important;
}

/* Literal - Yellow */
pre .lit,
code .lit {
    color: #e06c75 !important;
}

/* Punctuation - White (default) */
pre .pun,
code .pun {
    color: #abb2bf !important;
}

/* Plaintext - White (default) */
pre .pln,
code .pln {
    color: #e5c07b !important;
}

/* HTML/XML Tag - Blue */
pre .tag,
code .tag {
    color: #61afef !important;
}

/* HTML/XML Attribute Name - Green */
pre .atn,
code .atn {
    color: #98c379 !important;
}

/* HTML/XML Attribute Value - Yellow */
pre .atv,
code .atv {
    color: #e5c07b !important;
}

/* Decimal - Light Blue */
pre .dec,
code .dec {
    color: #56b6c2 !important;
}

pre.prettyprint,
code.prettyprint {
    background-color: #000;
    border-radius: 8px;
}

pre.prettyprint {
    width: 95%;
    margin: 1em auto;
    padding: 1em;
    white-space: pre-wrap;

    border: none !important;
    padding: 1em !important;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #aeaeae;
} /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none;
    background-color: transparent !important;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background-color: transparent !important;
}

@media print {
    pre .str,
    code .str {
        color: var(--primary) !important;
    }
    pre .kwd,
    code .kwd {
        color: #006;
        font-weight: bold;
    }
    pre .com,
    code .com {
        color: #600;
        font-style: italic;
    }
    pre .typ,
    code .typ {
        color: #404;
        font-weight: bold;
    }
    pre .lit,
    code .lit {
        color: #044;
    }
    pre .pun,
    code .pun {
        color: #440;
    }
    pre .pln,
    code .pln {
        color: #000;
    }
    pre .tag,
    code .tag {
        color: #006;
        font-weight: bold;
    }
    pre .atn,
    code .atn {
        color: #404;
    }
    pre .atv,
    code .atv {
        color: #060;
    }
}
